.page-header {
    background-color: #FF9F1C;
    padding: 20px;
    text-align: center;
  }
  
  .page-header h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    margin: 0;
  }
  
  .page-header p {
    font-family: 'Comic Sans MS', sans-serif;
    color: #333;
    margin: 10px 0 0 0;
    font-size: 1.2rem;
  }

  .animal-section {
    padding: 20px;
  }
  
  .animal-section h2 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2rem;
    color: #FF9F1C;
  }
  
  .animal-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .animal-card {
    background-color: #f9f9f9;
    border: 2px solid #226F54;
    border-radius: 10px;
    width: 440px;
    margin: 10px;
    padding: 15px;
    text-align: center;
  }
  
  .animal-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .animal-card h3 {
    margin: 10px 0;
    font-size: 1.7rem;
    font-family: 'Gloria Hallelujah', cursive;
    color: #226F54;
  }

  .animal-card h4 {
    margin: 10px 0;
    font-size: 1.2rem;
    font-family: 'Gloria Hallelujah', cursive;
    color: #87C38F;
  }
  
  .animal-card p {
    margin: 5px 0;
    font-size: 1.2rem;
  }

  .animal-card span {
    text-transform: uppercase;
    font-weight: bold;
    color: #226F54;
  }