header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

main {
    background-color: #87C38F;
    padding: 10px 20px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    margin: 20px 0;
    font-size: 2.2rem;
}

#clues {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clues p {
    margin: 10px 0;
    font-size: 1.6rem;
}

#choices {
    text-align: center;
    margin: 20px 0;
}

.choice {
    display: inline-block;
    margin: 20px;
}

.choice img {
    width: 250px;
    height: auto;
}

.choice button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #FF9F1C; 
    color: #333; 
    border: 2px solid #333; 
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.choice button:hover {
    background-color: #FFB84D; 
}

/* Pop up */
#popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#popup-container button {
    background-color: #F4F0BB;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 15px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    border: 2px solid #333;
}

#popup-container button:hover {
    background-color: #FFB84D;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}



